* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    background: white;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    min-width: 1280px;
}

header {
    position: relative;
    display: flex;
    margin: 0 auto;
    flex: 0 0 auto;
    height: 440px;
    width: 1280px;
    overflow: hidden;
    background-image: url("../images/cloud_1.png"), url("../images/cloud_2.png"), url("../images/bg_up.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.upper_menu {
    margin: 0 auto;
    flex: 0 0 auto;
    height: 123px;
    width: 967px;
    background-image: url('../images/upper_bg_1.png');
    background-repeat: no-repeat;
}

.upper_menu div {
    height: 100%;
    width: 100%px;
    margin: 0 auto;
    padding: 0 40px;
}

.h_logo {
    float: left;
}

.offer {
    width: 177px;
    height: 95px;
    position: absolute;
    top: 196px;
    left: 885px;

}

.upper_menu ul {
    padding: 15px 0 0 25px;
    display: flex;
    height: 100%;
    width: 526px;
    justify-content: space-between;
    list-style-type: none;
    font-size: 17px;
    color: white;
}