* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    background: white;
}

html,
body {
    height: 100%;
}


.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    min-width: 1280px;
}

header {
    position: relative;
    display: flex;
    margin: 0 auto;
    flex: 0 0 auto;
    height: 440px;
    width: 1280px;
    overflow: hidden;
    background-image: url("../images/cloud_1.png"), url("../images/cloud_2.png"), url("../images/bg_up.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.upper_menu {
    margin: 0 auto;
    flex: 0 0 auto;
    height: 123px;
    width: 967px;
    background-image: url('../images/upper_bg_1.png');
    background-repeat: no-repeat;
}

.upper_menu a{
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    display: inline-block;
    width: 110px;
    font-size: 17px;
}

.upper_menu a:hover{
    font-weight: bolder;
}

.upper_menu li {
    display: inline;
}

.upper_menu div {
    margin-left: 220px;
    padding: 0;
    list-style-type: none;
    width: 698px;
    text-align: center;
 }

.h_logo {
    width: 269px;
    height: 123px;
    position: absolute;
    left: 180px;
}

.offer {
    width: 177px;
    height: 95px;
    position: absolute;
    top: 196px;
    left: 885px;
}

h4 {
    color: white;
}

.cont_1 {
    position: absolute;
    margin: 0 auto;
    flex: 0 0 auto;
    width: 1000px;
    overflow: hidden;
    height: 145px;
    left: 140px;
    bottom: 0;
    padding-top: 20px;
}

.cont_1 a{
    text-decoration: none;
}

.cont_1 ul {
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cont_1 p {
    color: white;
}

.cont_1 img {
    float: left;
    border: 3px solid white;
    border-radius: 3px;
}

.minoffers {
    overflow: hidden;
    margin: 0;
    padding-left: 10px;
}

.read {
    margin-left: 20px;
    padding: 3px 5px 3px 5px;
    background-color: #fcf004;
    border-radius: 5px;
    color: #129fc6;
    font-weight: bold;
}

span.read:hover {
    background-color: #129fc6;
    color: #fcf004;
}

span.read:active {
    box-shadow: inset 1px 1px 1px 1px #0f425d;
}

.offers {
    width: 300px;
    height: 120px;
    overflow: hidden;
    padding: 0;
    color: #767676;
}

main {
    flex: 1 0 auto;
    background: #d6e6ef;
    width: 1280px;
    margin: 0 auto;
}

.section_center {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
}

.left {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 740px;
    float: left;
}

.left ul {
    width: 740px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left ul li {
    display: inline-block;
    margin-right: 44.5px;
    margin-top: 20px;
}

.left ul li:nth-child(3n){
    margin-right: 0;
}

.tours {
    width: 217px;
    height: 380px;
    overflow: hidden;
    padding: 0;
    position: relative;
    color: #767676;
    font-size: 18px;
}

h3 {
    font-style: italic;
    font-family: Serif;
    margin-bottom: 8px;
}

.readmore{
    padding: 4px;
    margin-top: 15px;
    background-color: #127ea5;
    width: 115px;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    text-align: center;
}

.tours a{
    text-decoration: none;
}

.readmore:hover{
    background-color: #ffffff;
    color: #127ea5;
}

.readmore:active{
    box-shadow: inset 1px 1px 1px 1px #0f425d;
}

.right {
    width: 243px;
    height: auto;
    float: right;
    padding: 0;
    overflow: hidden;
    margin-top: 15px;
    position: relative;
}

.cont_2, .cont_3  {
    margin-left: 10px;
    width: 233px;
    height: 317px;
    padding: 0;
    overflow: hidden;
    background-color: #127ea5;
    border-radius: 20px;
}

.cont_3 {
    margin-top: 20px;
    height: 337px;
}

.right ul {
    list-style-type: none;
    color: white;
    padding-top: 50px;
    padding-left: 30px;
}

.right ul li {
    margin-top: 8px;
}

.rib1 {
    position: absolute;
    top: 20px;
}

.rib2 {
    position: absolute;
    top: 358px;
}

footer {
    height: 320px;
    display: flex;
    flex: 0 0 auto;
    width: 1280px;
    background: #1380a7;
    margin: 0 auto;
    bottom: 0;
}

.footer {
    position: relative;
    width: 1000px;
    height: 320px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
}

.footer .email {
    padding: 0 5px;
    margin-right: 5px;
    background-color: #0f6686;
    height: 30px;
    width: 180px;
    transform: perspective(100px) rotateX(-5deg);
    border-radius: 5px;
    border: 1px ridge #0f6686;
    box-shadow: inset 1px 1px 1px 1px #0f425d;
    color: #1084af;
}

.footer h2 {
    margin-bottom: 10px;
}

.social {
    margin: 0;
    padding: 20px;
    width: 330px;
    height: 320px;
    color: #ffffff;
}

.social h2:nth-child(3) {
    margin: 15px 0 10px 0;
}

.social span.subscribe {
    background-color: #d6e6ef;
    padding: 7px 9px;
    border-radius: 4px;
    color: #1084af;
}

.social p:nth-child(2) a{
    text-decoration: none;
}

.social p:nth-child(2) span.subscribe:hover {
    background-color: #e1f1fa;
    color: #106f99;
}

.social p:nth-child(2) span.subscribe:active {
    box-shadow: inset 0 1px 3px 1px #0f425d;
}

.contacts {
    margin: 0;
    padding: 20px;
    width: 300px;
    height: 320px;
    color: white;
    line-height: 30px;
}

.cont_form {
    margin: 0;
    padding: 20px;
    width: 320px;
    height: 320px;
    color: white;
}

.cont_form .name, .phone {
    padding: 0 5px;
    margin-right: 5px;
    background-color: #0f6686;
    height: 30px;
    width: 180px;
    transform: perspective(100px) rotateX(-5deg);
    border-radius: 5px;
    border: 1px ridge #0f6686;
    box-shadow: inset 1px 1px 1px 1px #0f425d;
    color: #1084af;
}

.cont_form p{
    margin-top: 15px;
}

.cont_form .message {
    padding: 0 5px;
    margin-right: 5px;
    background-color: #0f6686;
    height: 60px;
    width: 280px;
    transform: perspective(100px) rotateX(-2deg);
    border-radius: 5px;
    border: 1px ridge #0f6686;
    box-shadow: inset 1px 1px 1px 1px #0f425d;
    color: #1084af;
}

.cont_form .submit{
    background-color: #d6e6ef;
    padding: 7px 15px;
    margin-left: 210px;
    border-radius: 4px;
    color: #1084af;
}

.cont_form a{
    text-decoration: none;
}

.cont_form a.submit:hover{
    background-color: #e1f1fa;
    color: #106f99;
}

.cont_form a.submit:active{
    box-shadow: inset 0 1px 3px 1px #0f425d;
}

.copyright {
    position: absolute;
    width: 1000px;
    bottom: 0;
    color: white;
    text-align: center;
}